/*
@import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@400;700 & display =swap');
*/



body {
    background-color: rgb(122, 219, 87);
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

main {
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.445);
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}
.calculadora {
    width: 400px;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
}

.btn:hover {
    background-color: #939393;
}

.btn-eq {
    background-color: rgb(122, 219, 87);
}

.btn-eq:hover {
    background-color: rgb(82, 150, 58);
}

